/* Defaults Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "raleway", sans-serif;
  font-size: 1em;
}
main,
header {
  margin: auto;
  width: 80%;
  max-width: 1400px;
}

a {
  text-decoration: none;
  color: black;
}
ul li {
  list-style-type: none;
}

/* Header=====>Navbar */

.logo {
  width: 125px;
  height: 45px;
  margin-top: 10px;
}
.logo_box {
  display: flex;
  align-items: center;
}
.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
}

.nav_links a {
  padding: 18px 40px;
  font-size: 1em;
  font-weight: 500;
}
.housing {
  color: #0065fc;
}
.active:hover {
  border-top: 3px solid #0065fc;
}
.register {
  color: #0065fc;
  font-weight: bold;
}
.register_hidden {
  display: none;
}
.register:hover {
  padding: 18px 40px;
  background-color: #0065fc;
  border-radius: 35px;
  color: white;
  transition: 0.2s;
}

/* Header=====> Titles */

.header_title {
  margin: 20px 0 10px 0;
}

/* Searchbox */

.search_bar {
  display: flex;
  margin: 20px 0;
  height: 40px;
}
.map_icon {
  padding: 11px 17px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}
.input_text {
  padding-left: 5px;
  font-weight: bold;
  color: black;
  width: 200px;
  border: 1px solid #f2f2f2;
  font-size: 1em;
}
.search_btn {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border-radius: 0 15px 15px 0;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  font-size: 0.9em;
}
.hidden_btn {
  display: none;
}

/* Filters */

.filters {
  display: flex;
  align-items: center;
}
.filters_list {
  display: flex;
}
.filters_icons {
  display: flex;
  align-items: center;
  border: 2px solid #e0d8d8;
  border-radius: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.filters_icons:hover {
  box-shadow: 4px 1px 15px -4px #3193ff;
  transition: 0.3s;
  cursor: pointer;
}
.icons {
  padding: 15px;
  background-color: #deebff;
  border-radius: 50px;
  color: #0065fc;
}
.filters_maintitle {
  font-size: 1.12em;
  font-weight: 700;
  margin-right: 30px;
}
.filters_titles {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
}

/* information */

.infos {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.fa-info {
  color: #0065fc;
  border: 1px solid #e0d8d8;
  padding: 7px 11px 7px 11px;
  border-radius: 50%;
  margin-right: 25px;
}

/* Section 1 ====>Hébergement */
.hotels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.locals_hotels {
  background-color: #f2f2f2;
  width: 72%;
  margin-top: 30px;
  border-radius: 15px;
}

.hotels_name {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 220px;
  background-color: white;
  border-radius: 15px;
  margin-top: 30px;
  padding: 6px;
}
.hotels_name:hover {
  transform: scale(1.01);
}

.hotel_img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  padding-bottom: 5px;
}

.hotels_list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section_title {
  font-size: 1.4em;
  padding-left: 17px;
  padding-top: 20px;
}
.section_footer {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px;
  margin: 30px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.hotel_image {
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.hotel_title {
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
}
.hotel_price {
  padding: 5px;
}

.stars {
  padding: 5px;
}
.fa-star {
  color: #0065fc;
}
.inactive {
  color: #e0d8d8;
}
/* section 1====> Les plus populaires */

.popular_hotels {
  display: flex;
  width: 24%;
  border-radius: 15px;
  margin-top: 30px;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
}
.popular_hotels a {
  display: flex;
  justify-content: center;
}
.header_popular {
  display: flex;
  width: 90%;
  height: 10%;
  align-items: center;
  justify-content: space-around;
}

.popular {
  display: flex;
  height: 150px;
  width: 85%;
  margin-top: 30px;
  background-color: white;
  padding: 3px;
  border-radius: 15px 15px 15px 15px;
}
.popular:hover {
  transform: scale(1.01);
}

.popular_container {
  display: flex;
  flex-direction: column;
}
.popular_hotel_img {
  width: 40%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  padding-right: 10px;
}
.popular_hotel_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Section 2 ====> Activités à Marseille */
.activity {
  margin-bottom: 50px;
}
.activity h2 {
  margin-bottom: 50px;
}
.activity_container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 80px 160px 37px 143px;
  grid-template-areas:
    "image1 image2 image3 image4"
    "image1 image2 image3 image4"
    "image1 image2 image3 image6"
    "image1 image5 image3 image6"
    "image1 image5 image3 image6";
}
.card {
  box-shadow: -1px 1px 3px 1px rgb(50 50 50 / 10%);
  width: 100%;
  border-radius: 20px;
}
.card:hover {
  transform: scale(1.01);
}

.big_card {
  height: 600px;
}
.medium_card {
  height: 380px;
}
.small_card {
  height: 200px;
}
.img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  object-fit: cover;
}
.big_img {
  height: 90%;
}
.medium_img {
  height: 85%;
}
.small_img {
  height: 70%;
}

.card_text {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
  font-weight: bold;
}
.big-card-1 {
  grid-area: image1;
}

.medium-card-1 {
  grid-area: image2;
}

.small-card-1 {
  grid-area: image5;
}

.big-card-2 {
  grid-area: image3;
}
.medium-card-2 {
  grid-area: image6;
}

.small-card-2 {
  grid-area: image4;
}
/* footer */

.footer {
  display: flex;
  background-color: #f2f2f2;
}
.footer_container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  justify-content: space-around;
}

.footer_content {
  width: 30%;
  margin-top: 30px;
}

.footer_title {
  margin-bottom: 10px;
  font-size: 1.4em;
}
.footer_list li {
  margin-bottom: 10px;
}
.footer_list a:hover {
  text-decoration: underline;
}

/* Media queries */

@media screen and (max-width: 1499px) {
  .locals_hotels {
    width: 100%;
  }
  .hotels {
    flex-direction: column-reverse;
  }
  .hotels_name {
    width: 300px;
  }
  .popular_hotels {
    width: 100%;
    display: block;
  }
  .popular {
    width: 100%;
  }
  .header_popular {
    justify-content: space-evenly;
    padding-top: 20px;
  }

  .popular_container {
    flex-direction: row;
    padding: 30px 50px;
  }
  .popular_container a {
    margin-right: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .activity_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    height: 230px;
    width: 30%;
  }
  .img {
    height: 80%;
  }
  .hotels_name {
    width: 250px;
  }
  .popular_hotels {
    display: flex;
    flex-direction: column;
  }
  .popular_container {
    flex-direction: column;
  }
  .popular_container {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .filters_list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 700px) {
  header {
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
  }
  .nav_links {
    justify-content: space-around;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .housing {
    font-weight: 600;
  }
  .border_bot {
    display: flex;
    margin-bottom: 30px;
  }
  .border_left {
    width: 50%;
    border-bottom: 3px solid #0065fc;
  }
  .border_right {
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
  }

  .nav_links a {
    font-size: 1.2em;
    padding: 10px 0;
  }

  .to_hide {
    display: none;
  }
  .hidden {
    display: block;
  }
  .logo_box {
    display: flex;
    justify-content: space-between;
    margin: 30px;
  }

  .active:hover {
    border-top: none;
  }
  .header_title,
  .header_description,
  .search_bar,
  .filters,
  .fa-info {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 650px) {
  .input_text {
    width: 80%;
  }
  .search_btn {
    display: none;
  }
  .hidden_btn {
    display: block;
    width: 40px;
    border-radius: 10px;
    background-color: #0065fc;
    border: none;
    cursor: pointer;
  }
  .fa-search {
    color: white;
  }
  .filters {
    flex-direction: column;
    align-items: flex-start;
  }
  .filters_maintitle {
    margin-bottom: 20px;
  }
  main {
    width: 100%;
  }
  .popular_hotels {
    width: 100%;
    height: 650px;
  }
  .popular_container {
    padding: 0;
    height: auto;
    margin: 0 auto;
    width: 95%;
  }
  .popular_container a {
    height: 170px;
    width: 100%;
  }
  .locals_hotels {
    background-color: #fff;
  }

  .hotels_list {
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: 95%;
  }
  .hotels_name {
    width: 100%;
    height: 300px;
    box-shadow: -1px 1px 3px 1px rgb(50 50 50 / 10%);
  }
  .section_footer {
    background-color: #fff;
  }
  .hotel_img {
    height: 190px;
  }

  .activity_container {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }
  .card {
    width: 100%;
    height: 240px;
  }
  .footer_container {
    flex-direction: column;
  }
  .footer_content {
    width: 100%;
  }
}
