/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700&display=swap");

/* Defaults Settings */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "raleway", sans-serif;
}
main {
  margin: 0 auto;
  width: 80%;
}
header {
  margin: 0 auto;
  width: 80%;
}
a {
  text-decoration: none;
  color: black;
}
ul li {
  list-style-type: none;
}

/* Header=====>Navbar */

.logo {
  width: 125px;
  height: 45px;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_links {
  display: flex;
}

.nav_links a {
  padding: 18px 40px;
  font-size: 15px;
}
.housing {
  color: #0065fc;
}
.active:hover {
  border-top: 3px solid #0065fc;
}
.register {
  color: #0065fc;
  font-weight: bold;
}
.register:hover {
  padding: 18px 40px;
  background-color: #0065fc;
  border-radius: 35px;
  color: white;
  transition: 0.2s;
}

/* Header=====> Titles */

.header_title {
  margin: 20px 0;
  font-size: 22px;
}
.header_description {
  font-weight: 300;
}

/* Searchbox */

.search_bar {
  display: flex;
  margin: 20px 0;
  height: 40px;
}
.map_icon {
  padding: 11px 17px;
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
}
.input_text {
  padding-left: 5px;
  font-weight: bold;
  color: black;
  width: 200px;
  border: 1px solid #f2f2f2;
  font-size: 13px;
}
.search_btn {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border-radius: 0 15px 15px 0;
  padding: 5px 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* Filters */

.filters {
  display: flex;
  align-items: center;
}
.filters_list {
  display: flex;
}
.filters_icons {
  display: flex;
  align-items: center;
  border: 2px solid #e0d8d8;
  border-radius: 50px;
  margin-right: 20px;
}
.filters_icons:hover {
  -webkit-box-shadow: 4px 1px 15px -4px #3193ff;
  box-shadow: 4px 1px 15px -4px #3193ff;
  transition: 0.3s;
  cursor: pointer;
}
.icons {
  padding: 15px;
  background-color: #deebff;
  border-radius: 50px;
  color: #0065fc;
}
.filters_maintitle {
  font-size: 18px;
  font-weight: 700;
  margin-right: 30px;
}
.filters_titles {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 15px;
}

/* information */

.infos {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.fa-info {
  color: #0065fc;
  border: 1px solid #e0d8d8;
  padding: 7px 11px 7px 11px;
  border-radius: 50%;
  margin-right: 25px;
}

/* Section 1 ====>Hébergement */
.hotels {
  display: flex;
  height: 650px;
  margin-bottom: 30px;
}
.locals_hotels {
  background-color: #f2f2f2;
  width: 72%;
  margin-top: 30px;
  border-radius: 15px;
  margin-right: 30px;
}

.hotels_name {
  display: flex;
  flex-direction: column;
  width: 275px;
  height: 220px;
  background-color: white;
  border-radius: 15px;
  margin-top: 30px;
  padding: 6px;
}
.hotel_img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  padding-bottom: 5px;
}

.hotels_list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.section_title {
  font-size: 22px;
  padding-left: 17px;
  padding-top: 27px;
}
.section_footer {
  font-size: 18px;
  padding-left: 17px;
  padding-top: 27px;
}

.hotel_image {
  width: 250px;
  height: 100px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

.hotel_title {
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
.hotel_price {
  padding: 5px;
}

.stars {
  padding: 5px;
}
.fa-star {
  color: #0065fc;
}
.inactive {
  color: #e0d8d8;
}
/* section 1====> Les plus populaires */

.popular_hotels {
  display: flex;
  width: 24%;
  border-radius: 15px;
  margin-top: 30px;
  background-color: #f2f2f2;
  flex-direction: column;
  align-items: center;
}
.popular_hotels a {
  display: flex;
  justify-content: center;
}
.header_popular {
  display: flex;
  width: 90%;
  height: 10%;
  align-items: center;
  justify-content: space-around;
}

.popular {
  display: flex;
  height: 150px;
  width: 85%;
  margin-top: 30px;
  background-color: white;
  padding: 3px;
  border-radius: 15px 15px 15px 15px;
}
.popular_hotel_img {
  width: 40%;
  border-radius: 15px 0 0 15px;
  object-fit: cover;
  padding-right: 10px;
}
.popular_hotel_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Section 2 ====> Activités à Marseille */
.activities {
  width: 100%;
}
.activities_container {
  display: flex;
  margin-top: 30px;
}
.big_size_bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 25%;
  margin-bottom: 50px;
  margin-right: 30px;
  height: 550px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -1px 5px 15px 5px #e0d8d8;
}

.big_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.activities_text {
  font-size: 18px;
  font-weight: bold;
  padding: 14px;
}

.small_size_bloc_1 {
  height: 550px;
  width: 25%;
  margin-right: 30px;
}
.small_size_up {
  height: 60%;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -1px 5px 15px 5px #e0d8d8;
}
.small_size_down {
  width: 100%;
  margin-top: 10%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -1px 5px 15px 5px #e0d8d8;
}
.small_size_down_1 {
  margin-bottom: 10%;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  box-shadow: -1px 5px 15px 5px #e0d8d8;
}
.small_img_1 {
  width: 100%;
  height: 280px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.small_img_2 {
  width: 100%;
  height: 140px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.activities_text_small {
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
}

/* footer */

.footer {
  display: flex;
  background-color: #f2f2f2;
  width: 100%;
}
.footer_container {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-around;
}

.footer_content {
  width: 30%;
  margin-top: 30px;
}

.footer_title {
  margin-bottom: 10px;
  font-size: 22px;
}
.footer_list li {
  margin-bottom: 10px;
}
.footer_list a:hover {
  text-decoration: underline;
}
